.about2023 img {
  /* width: 50px; */
  height: 70px;
  margin: 20px
  /* border: 5px solid var( --accent-color); */
}

.trabalho2023 {
  background-color: var(--background-color-secundary);
  margin:  0 30px;
  padding: 10px 20px;
  display: flex;
  border: 25px var(--primary-color);
  border-right-style: solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bug-description2023 {
  background-color: var(--background-color-secundary);
  margin:  5px 30px;
  padding: 10px 20px;
  display: flex;
  border: 25px var(--primary-color);
  border-left-style: solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-description2023 {
  margin: 15px;
}

.about-subtitle2023 {
  margin-bottom: 20px;
}

.about-content2023 {
  text-align: justify;
  background-color: var(--background-color-secundary);
  margin:  50px 90px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  border: 25px var(--secondary-color);
  border-right-style: solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-content2023 p {
  margin-bottom: 20px;
}

.about-cotent2023 h5 {
  margin: 20px;
}

.about-content-div2023 {
  display: flex;
  align-items: center;
  margin: 0 20px;
}
