.footer {
  margin: 30px;
  text-align: center;
  padding: 10px 20px;
  border: 15px var(--secondary-color);
  border-left-style: solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: var(--background-color-secundary);
}

.footer-text {
  margin-bottom: 0;
}

.header-nav svg {
  width: 60px;
  margin: 0 20px;
  color: var(--text-color-primary);
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 14px;
  }
}
