.footer {
  padding: 20px 0;
  text-align: center;
}

.footer-text {
  margin-bottom: 0;
}

.header-nav svg {
  width: 60px;
  margin: 0 20px;
  color: var(--text-color-App);
}

@media screen and (max-width: 600px) {
  .footer {
    font-size: 14px;
  }
}
