.projects-2023 {
  background-color: var(--background-color-secundary);
  margin:  50px 50px;
  padding: 10px 20px;
  border: 25px var(--primary-color);
  border-right-style: solid;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-2023 {
  width: 900px;
  border-radius: 5%;
  background-color: var(--background-color-terciary);
  display: flex;
  align-items: center;
}

.prev-button-2023,
.next-button-2023 {
  border: none;
  margin: 10px;
  padding: 20px 0px;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 0 5px var(--primary-color);
}

.mobile-prev-button-2023,
.mobile-next-button-2023 {
  visibility: hidden;
}

.mobile-buttons-2023 {
  display: flex;
  justify-content:center
}

.project-links-2023 a:hover,
.prev-button-2023:hover,
.next-button-2023:hover {
  box-shadow: 0 0 50px var(--primary-color);
}

.projects-list-2023 {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.project-item-2023 {
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.project-image-2023 {
  width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  margin: 10px 35px 0px;
}

.project-title-2023 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.project-description-2023 {
  margin-bottom: 10px;
  height: 150px;
}

.project-links-2023 {
  display: flex;
  justify-content: space-between;
}


.project-links-2023 a {
  width: 200px;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-color-secundary);
  background-color: var(--accent-color);
  transition: background-color 0.3s ease;
} 


@media screen and (max-width: 600px) {
  .prev-button-2023,
  .next-button-2023 {
    visibility: hidden;
  }

  .mobile-buttons-2023 {
    display: flex;
    justify-content:center
  }
  
  .mobile-prev-button-2023,
  .mobile-next-button-2023 {
    visibility: visible;
    border: none;
    padding: 0;
    background-color: transparent;
    box-shadow: 0 0 10px var(--primary-color);
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
  }

  .projects-2023 {
    padding: 10px 0;
  }
  
  .carousel-2023 {
    width: 100%;
    margin: 0%;
    border-radius: 0%;
    box-shadow: 0 0 0px var(--primary-color);
  }

  .project-image-2023 {
    width: 300px;
    height: 160px;
  }

  .mobile-prev-button-2023 svg,
  .mobile-next-button-2023 svg{
    margin: 0;
    width: 30px;
  }
  
  .project-item-2023 {
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.2);
  }

  .project-links-2023 a {
    width: 100px;
  }
  
  .project-description-2023 {
    margin-bottom: 10px;
    height: 120px;
  }
}
