:root {
  --background-color-App: #333333;
  --background-color-primary: #f9f9f9b4;
  --background-color-secundary: #333333;
  --background-color-terciary: #81808067;


  --text-color-primary: #f9f9f9b4;
  --text-color-secundary: #333333;


  --primary-color: #25486b;
  --secondary-color: #e74c3c;
  --accent-color: #f9f9f9;
}

/* :root {
  --background-color: #f9f9f9b4;
  --text-color: #333333;
  --background-color-App: #c7c8ceb4;
  --background-color-card: #333333;
  --text-color-primary: #f9f9f9b4;
  --primary-color: #2c455e;
  --secondary-color: #e74c3c;
  --accent-color: #f9f9f9;
} */

.App {
  text-align: center;
  width: 1150px;
}
